aiohappyeyeballs==2.6.2
aiohttp==3.14.1
aiosignal==1.4.0
attrs==26.1.0
biopython==1.85
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1779285033994/work/certifi
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1775127091311/work
colorama==0.4.6
contourpy @ file:///D:/bld/bld/rattler-build_contourpy_1769155974/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cycler_1764466758/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1781380989965/work
fonttools @ file:///D:/bld/fonttools_1778770294641/work
freetype-py @ file:///home/conda/feedstock_root/build_artifacts/freetype-py_1650983368720/work
frozenlist==1.8.0
fsspec==2026.4.0
greenlet @ file:///D:/bld/bld/rattler-build_greenlet_1779292430/work
idna==3.18
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jinja2_1764517220/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1765794027227/work
kiwisolver @ file:///D:/bld/bld/rattler-build_kiwisolver_1773067062/work
MarkupSafe @ file:///D:/bld/markupsafe_1772444956616/work
matplotlib==3.10.9
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1773661943568/work
multidict==6.7.1
munkres==1.1.4
narwhals @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_narwhals_1780672242/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1765215107/work
numpy @ file:///D:/bld/bld/rattler-build_numpy_1779169235/work/dist/numpy-2.4.6-cp311-cp311-win_amd64.whl#sha256=1f5fa3c853dd01b13cacc0fd3cfdc827bb2f4cf73638f3949fcee463a6dc8304
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1777103621/work
pandas @ file:///D:/bld/bld/rattler-build_pandas_1778602666/work
pillow @ file:///D:/bld/pillow_1726075236112/work
propcache==0.5.2
psutil==7.2.2
pycairo==1.29.0
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1769003998/work
pypdf==6.13.2
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
PyYAML @ file:///D:/bld/pyyaml_1770223251282/work
rdkit @ file:///D:/bld/rdkit-meta_1780408015449/work
reportlab @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_reportlab_1778585894/work
requests==2.34.2
rlPyCairo @ file:///home/conda/feedstock_root/build_artifacts/rlpycairo_1756864152814/work
scikit-learn @ file:///D:/bld/bld/rattler-build_scikit-learn_1780401098/work/dist/scikit_learn-1.9.0-cp311-cp311-win_amd64.whl#sha256=3d3874bafbadd1ceb03a99ebf7e08960f4324a3abc5af13343543fdb41a58fd5
scipy @ file:///D:/bld/scipy-split_1779874050212/work/dist/scipy-1.17.1-cp311-cp311-win_amd64.whl#sha256=b7303dbff91581447e6473882e935d15f4f6d8c7afaae2f47a2d49e9c3940ea1
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
SQLAlchemy @ file:///D:/bld/bld/rattler-build_sqlalchemy_1779661520/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1771952241027/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
torch==2.4.1
torch-geometric==2.6.1
tqdm==4.68.2
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1777068919240/work
unicodedata2 @ file:///D:/bld/unicodedata2_1770908975304/work
urllib3==2.7.0
yarl==1.24.2
